
<!-- <mat-tab-group>
  <mat-tab label="Home" routerLink="/home"></mat-tab>
  <mat-tab label="About Me" routerLink="/aboutme"></mat-tab>
  <mat-tab label="Achievements" routerLink="/achievements"></mat-tab>
  <mat-tab label="Contact Me" routerLink="/contactme"></mat-tab>
  <mat-tab label="Experience" routerLink="/experience"></mat-tab>
  <mat-tab label="Hobbies" routerLink="/hobbies"></mat-tab>
  <mat-tab label="Skill Set" routerLink="/skillset"></mat-tab>
  <mat-tab label="Training List" routerLink="/traininglist"></mat-tab>
</mat-tab-group> -->

<div id=tab-design> 
  <table>
    <tr> 
      <td routerLink="/home">Home</td>
      <td routerLink="/aboutme">About Me </td>
      <td routerLink="/achievements"> Achievements </td>
      <td routerLink="/contactme">Contact Me</td>
      <td routerLink="/experience">Experience </td>
      <td routerLink="/hobbies">Hobbies</td>
      <td routerLink="/skillset">Skill Set</td>
      <td routerLink="/traininglist">Training List</td>
    </tr>
   
  </table>
</div>

<router-outlet></router-outlet>


